.container-tarea{
    margin: 1% 20% 1% 20%;
    min-height: 95vh;
    background-color: rgb(2, 20, 53);
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}