.tarea-join{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80%;
    background-color: rgb(238, 205, 96);
    margin-bottom: 3%;
}

.tarea-join.completada{
    background-color: blueviolet;
    text-decoration: line-through;
}

.tarea-texto{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: anywhere;
}

.hecho-tarea-icono{
    width: 10%;
    border: rgb(44, 43, 43) 1px solid;
}

.eliminar-tarea-icono{
    width: 10%;
    border: rgb(44, 43, 43) 1px solid;
}



